* {
  margin: 0;
  font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {

  /* Never get smaller than this */
  font-size: 14px;
}

a {
  text-decoration: none;
}

#main {
  padding: 10%;
  background-color: #fffcfc;
}

.container {
  background: #fff;
  top: 40px;
  margin: 0 auto;
  max-width: 800px;
  -webkit-box-shadow: 5px 5px 90px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 90px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 90px 0px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}



#main h1 {
  font-weight: normal;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
}

#main ul li {
  list-style-type: square;
}
